version: '3.8'

services:
  contact-sync:
    build: .
    image: ghcr.io/morrelli43/contact_sync:main
    container_name: "contact-sync"
    restart: unless-stopped
    command: ["serve", "--host", "0.0.0.0"]
    environment:
      - ENABLE_GOOGLE=true
      - ENABLE_SQUARE=true
      - SQUARE_ACCESS_TOKEN=your_square_access_token_here
      - SQUARE_WEBHOOK_URL=https://onyascoot.com/webhooks/square
      - SQUARE_SIGNATURE_KEY=t0Qg_8PNuzr0SGzxcOMBVQ
      - WEBFORM_STORAGE=/app/env_files/webform_contacts.json
      - GOOGLE_CREDENTIALS_FILE=/app/env_files/credentials.json
      - GOOGLE_TOKEN_FILE=/app/env_files/token.json
    volumes:
      # Mount the user's specific data directory to /app/env_files
      - ~/dockerhub/permadata/oys_contacts/env_files:/app/env_files
    ports:
      - "7173:7173"
      - "5001:5001"
