services:
  contact-sync:
    build: .
    image: ghcr.io/morrelli43/contact_sync:main
    container_name: "contact-sync"
    restart: unless-stopped
    environment:
      - ENABLE_GOOGLE=true
      - ENABLE_SQUARE=true
      - SQUARE_ACCESS_TOKEN=EAAAl_Vi65bwcODOlOngQZmlsO9R1VJOtG_MXHsjvvmaVzZVKKlih1KDrOdIYMbc
      - SQUARE_WEBHOOK_URL=https://sync.onyascoot.com/webhooks/square
      - SQUARE_SIGNATURE_KEY=1ae5Y-PbpJHC1IxKWthwwg
      - WEBFORM_STORAGE=/app/env_files/webform_contacts.json
      - GOOGLE_CREDENTIALS_FILE=/app/env_files/credentials.json
      - GOOGLE_TOKEN_FILE=/app/env_files/token.json
    volumes:
      # Mount the user's specific data directory to /app/env_files
      - ~/dockerhub/permadata/oys_contacts/env_files:/app/env_files
    ports:
      - "7173:7173"
